
<div class="card" style="margin: 16px auto; padding: 16px; border: 2px dotted #0288d1; border-radius: 8px; max-width: 728px; text-align: center;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
     crossorigin="anonymous"></script>
  <!-- Square ( Responsive ) -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1291242080282540"
       data-ad-slot="7663977887"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
