<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{'/' | relative_url }}">
      {% if site.logo %}
        <img class="me-3" src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
      {% endif %}
      {{ site.title }}
    </a>
    {% if page.navigation and site.data[page.navigation] %}
      {% assign navigation = site.data[page.navigation] %}
    {% elsif site.data.navigation %}
      {% assign navigation = site.data.navigation %}
    {% endif %}
    {% if navigation %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        Menu <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation %}
            {% if item.menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  {{ item.text }}
                </a>
                <div class="relative inline-block text-left dropdown">
                  <button class="inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" type="button" aria-haspopup="true" aria-expanded="false">
                    Parent
                    <svg class="fill-current ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.707 6.293a1 1 0 00-1.414 0l-4 4a1 1 0 001.414 1.414L10 9.414l3.293 3.293a1 1 0 001.414-1.414l-4-4z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <ul class="dropdown-menu absolute z-50 right-0 py-2 mt-1 bg-white rounded-md shadow-lg">
                    <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Submenu 1</a></li>
                    <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Submenu 2</a></li>
                  </ul>
                </div>                
              </li>
            {% else %}
              <li class="navbar-item">
                {% if item.text contains '' %}
                  {% assign item_text = item.text %}
                {% else %}
                  {% assign item_text = site.pages | where: 'url', item.href | map: 'title' | first %}
                {% endif %}
                <a class="nav-link{% if item.href == page.url %} active{% endif %}" href="{{ item.href | relative_url }}"{% if item.new_window %} target="_blank"{% endif %}>{{ item_text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
