<nav class="slds-navbar slds-navbar_vertical slds-shadow_medium" role="navigation">
  <div class="slds-container slds-container_fluid">
    <div class="slds-grid slds-grid_align-spread">
      <div class="slds-nav-vertical slds-nav-medium slds-wrap">
        <a class="slds-nav-vertical__action" href="{{'/' | relative_url }}">
          {% if site.logo %}
            <img class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle me-1" src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
          {% endif %}
          <span class="slds-align-middle">{{ site.title }}</span>
        </a>
        {% if page.navigation and site.data[page.navigation] %}
          {% assign navigation = site.data[page.navigation] %}
        {% elsif site.data.navigation %}
          {% assign navigation = site.data.navigation %}
        {% endif %}
        {% if navigation %}
          <button class="slds-button slds-button_icon slds-button_icon-small slds-button_icon-border-filled slds-m-left_x-small" aria-expanded="false" aria-haspopup="true">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">Toggle Navigation</span>
          </button>
          <ul class="slds-list_vertical slds-has-block-links-space slds-m-top_small slds-m-bottom_small">
            {% for item in navigation %}
              {% if item.menu %}
                <li class="slds-list_item slds-has-submenu">
                  <a class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-button_icon-border-filled slds-m-right_x-small" href="#" aria-haspopup="true">
                    {{ item.text }}
                    <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </a>
                  <ul class="slds-list_vertical slds-has-block-links-space slds-m-top_small slds-m-bottom_small slds-dropdown slds-dropdown_right">
                    {% for subitem in item.menu %}
                      {% if subitem.href %}
                        {% if subitem.text contains '<br>' %}
                          {% assign subitem_text = subitem.text | replace: '<br>', '' %}
                        {% else %}
                          {% assign subitem_text = site.pages | where: 'url', subitem.href | map: 'title' | first %}
                        {% endif %}
                        <li class="slds-list-item{% if subitem.href == page.url %} slds-is-active{% endif %}">
                          <a href="{{ subitem.href | relative_url }}"{% if subitem.new_window %} target="_blank"{% endif %}>
                            {{ subitem_text }}
                          </a>
                        </li>
                      {% elsif subitem.text contains '---' %}
                        <li class="slds-dropdown-divider"></li>
                      {% else %}
                        <li class="slds-dropdown__header">{{ subitem.text }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="slds-list_item">
                  {% if item.text contains '<br>' %}
                    {% assign item_text = item.text | replace: '<br>', '' %}
                  {% else %}
                    {% assign item_text =
