<div class="embed-responsive embed-responsive-16by9">
  <div class="youtube-container">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/{{ include.video }}?start={{ include.starttime | default: 0 }}&end={{ include.endtime }}&showinfo=0"
            frameborder="0"
            allowfullscreen
    ></iframe>
    {% assign vtitle = include.vtitle | default: "Video Title" %}
{% assign vdescription = include.description | default: "Video Description" %}
{% assign vcategory = include.category | default: "Education" %}
{% assign vrequiresSubscription = include.requiresSubscription | default: "Free" %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ vtitle }}",
  "description": "{{ vdescription }}",
  "thumbnailUrl": "https://img.youtube.com/vi/{{ include.video }}/hqdefault.jpg",
  "uploadDate": "{{ page.date | date: "%Y-%m-%d" }}",
  "contentUrl": "https://www.youtube.com/watch?v={{ include.video }}",
  "duration": "PT{{ include.endtime | minus: include.starttime }}M",
  "genre": "{{ vcategory }}",
  "requiresSubscription": "{{ vrequiresSubscription }}"
}
</script>
  </div>
</div>



<style>
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
